
[v-cloak] {
  display: none !important;
}

#app {
  padding: 0 16px 16px;
}

.option {
  display: flex;
  align-items: center;
}

.option:not(:first-of-type) {
  margin-top: 4px;
}

.option-name {
  width: 80px;
}

#result {
  margin-top: 16px;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid #666;
}

table {
  margin-top: 4px;
}

th {
  padding: 4px;
  background-color: #f9f9f9;
  text-align: center;
  user-select: none;
}

th:not(:first-of-type) {
  cursor: pointer;
}

td:first-of-type {
  padding: 4px;
  background-color: #f9f9f9;
  text-align: center;
}

td:not(:first-of-type) {
  min-width: 48px;
  padding: 4px;
  background-color: #eaf6f8;
  text-align: right;
}
